<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Новые объекты по ДКП</title>
    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
    </style>
    <style type="text/css">
        @media only screen and (max-device-width: 660px), only screen and (max-width: 660px) {
            .em-narrow-table {
                width: 100% !important;
                max-width: 660px !important;
                min-width: 320px !important;
            }

            .em-mob-width-100perc {
                width: 100% !important;
                max-width: 100% !important;
            }

            .em-mob-wrap {
                display: block !important;
            }

            .em-mob-padding_right-20 {
                padding-right: 20px !important;
            }

            .em-mob-padding_left-20 {
                padding-left: 20px !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size: 1px; line-height: normal"
       bgcolor="#F8F8F8">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" width="100%" border="0"
                   style="max-width: 660px; min-width: 660px; width: 660px" class="em-narrow-table">
                <tr class="em-structure">
                    <td align="center" style="padding: 30px 40px"
                        class="em-mob-padding_left-20 em-mob-padding_right-20">
                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="em-mob-width-100perc">
                            <tr>
                                <td width="580" valign="top" class="em-mob-wrap em-mob-width-100perc">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td align="left">
                                                <img
                                                        src="https://emcdn.ru/388461/240326_5658_GNH5U1n.png"
                                                        border="0"
                                                        alt=""
                                                        style="display: block; width: 100%; max-width: 150px"
                                                        width="150"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="em-structure">
                    <td
                            align="center"
                            style="
                                    padding-top: 30px;
                                    padding-right: 40px;
                                    padding-left: 40px;
                                    background-repeat: repeat;
                                    background-color: #ffffff;
                                    border-top-left-radius: 15px;
                                    border-top-right-radius: 15px;
                                "
                            class="em-mob-padding_left-20 em-mob-padding_right-20"
                            bgcolor="#FFFFFF"
                    >
                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="em-mob-width-100perc">
                            <tr>
                                <td width="580" valign="top" class="em-mob-wrap em-mob-width-100perc">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 20px 0 10px">
                                                <div
                                                        style="
                                                                font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                font-size: 24px;
                                                                line-height: 32px;
                                                                color: #333333;
                                                            "
                                                >
                                                    <strong>{{header}}<br/></strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="em-structure">
                    <td
                            align="center"
                            style="
                                    padding-top: 10px;
                                    padding-right: 41px;
                                    padding-left: 40px;
                                    border-width: 1px;
                                    border-color: #e5e5e5;
                                    background-repeat: repeat;
                                    background-color: #ffffff;
                                "
                            class="em-mob-padding_left-20 em-mob-padding_right-20"
                            bgcolor="#FFFFFF"
                    >
                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="em-mob-width-100perc">
                            <tr>
                                <td width="579" valign="top" class="em-mob-wrap em-mob-width-100perc">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding-bottom: 15px">
                                                <div
                                                        style="
                                                                font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                line-height: 21px;
                                                                color: #5a5a5a;
                                                                font-size: 16px;
                                                            "
                                                >
                                                    <ol>
                                                        {% for deal in deals %}
                                                        <li style="margin: 20px 0">
                                                            <span>Проект: {{deal.project | e}}</span><br/>
                                                            <span>Дом № {{deal.house | e}}</span><br/>
                                                            <span>Тип объекта: {{deal.object_type | e}}</span><br/>
                                                            <span>№ {{deal.object | e}}</span><br/>
                                                            {% if deal.facing.len() > 0 %}
                                                            <span>Тип отделки: {{deal.facing | e}}</span><br/>
                                                            {% endif %}
                                                            <span>Дата регистрации: {{deal.reg_date | e}}</span><br/>
                                                            <span>Передать объект до: {{deal.exp_date | e}}</span><br/>
                                                        </li>
                                                        {% endfor %}
                                                    </ol>
                                                    <br/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="em-structure">
                    <td
                            align="center"
                            class="em-mob-padding_left-20 em-mob-padding_right-20"
                            style="padding-right: 40px; padding-left: 40px; background-color: #ffffff; background-repeat: repeat; border-radius: 5px 5px 15px 15px"
                            bgcolor="#FFFFFF"
                    >
                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="em-mob-width-100perc">
                            <tr>
                                <td width="580" valign="top" class="em-mob-wrap em-mob-width-100perc">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="em-structure">
                    <td align="center" style="padding-right: 40px; padding-bottom: 30px; padding-left: 40px"
                        class="em-mob-padding_left-20 em-mob-padding_right-20">
                        <table align="center" border="0" cellspacing="0" cellpadding="0" class="em-mob-width-100perc">
                            <tr>
                                <td width="580" valign="top" class="em-mob-wrap em-mob-width-100perc">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding-bottom: 10px">
                                                <div
                                                        style="
                                                                font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                font-size: 16px;
                                                                line-height: 21px;
                                                                color: #5a5a5a;
                                                            "
                                                >
                                                    &nbsp;
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="em-structure">
                    <td align="center"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
